# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database
*.db
*.sqlite3
*.sqlite

# Migrations
migrations/

# Logs
*.log

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# FastAPI uploads
uploads/

# Misc
.DS_Store
