version: "3.9"

networks: 
  dev:

services:

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - back
      - front
    networks:
      - dev

  back:
    build: ./back
    networks:
      - dev

  front:
    build: ./front
    networks:
      - dev
