@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("image.png");
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 500px;
    color: #f2f2f2;
    background: rgba(31, 82, 2, 0.699);
    backdrop-filter: blur(2px);
    padding: 40px;
    border-radius: 15px;
}

.wrapper h1{
    text-align: center;
    margin-bottom: 36px;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(26, 66, 2);
    border-radius: 10px;
    font-size: 16px;
    padding: 0 15px;
    color: #f2f2f2;
}

.input-box input::placeholder{
    color: #f2f2f2;
}

/* .input-box i{
    position: absolute;
    right: 400px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #f2f2f2;
} */

.wrapper .remember{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember label input{
    margin-right: 5px;
    accent-color: #f2f2f2;
}

.remember a{
    color: #f2f2f2;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #f2f2f2;
    color: rgb(26, 66, 2);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(112, 67, 67, 0.5);
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.wrapper .register-link{
    margin-top: 20px;
    text-align: center;
    font-size: 14.5px;
}

.register-link a{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover{
    text-decoration: underline;
}